<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員頁面</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
</head>
<body>
    <h2 class="food">歡迎光臨會員頁面</h2>
    <div class="food">你好，很高興見到你</div>
    
    <form class="food"action="/signout" >    
        <button>登出</button>   
    </form>
</body>
</html>